@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #0064e9;
    margin: 0;
    padding: 20px;
}

.superior {
    display: flex;
    justify-content: center;
    gap: 100px;
}

/*izquierda*/

.superior .izquierda{
    margin-right: auto;
}

.superior .izquierda img {
    width: 100px;
}

/*centro*/

.superior nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    
}
.superior nav a {
    text-decoration: none;
    color: #ffffff;
    padding-inline: 40px;
    font-size: 16px;

    
}

/*derecha*/

.superior .derecha{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.superior .derecha img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}
.superior .derecha span {
    color: #ffffff;
    font-size: 16px;
    margin-left: 10px;
}