td:hover {
  background-color: #d3e0ff;  /* Color al pasar el mouse */
  cursor: pointer;            /* Cursor tipo mano */
  transition: 0.3s ease;      /* Transición suave */
}

.bi-trash3-fill {
    color: #f44336;
}
.bi-trash3-fill:hover {
    color: #d60000;
    transition: 0.3s ease;
}